<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <title>Home | My header</title>
</head>

<body class="grey lighten-4" >

<!-- header for client -->
    <nav style="color:$red-300;" th:fragment="header" role="navigation" >
        <div class="collapse navbar-collapse">
            <ul th:object="${client}">
                <li class="nav-item active blue-text">
                    <a class="nav-link" th:href="@{/home}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">Contact Us</a>
                </li>
<!--                <li class="nav-item"th:if="${client.profile != null}">-->
<!--                    <a th:href="@{/edit_profile/{id}(id=${client.profile.id})}" class="nav-link">Edit Profile</a>-->
<!--                </li>-->
<!--                <li class="nav-item" th:if="${client.profile == null}">-->
<!--                    <a th:href="@{/wizard}" class ="nav-link">Add Profile</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/notification}">Notification</a>
                </li>
                <li class="right hide-on-med-and-down">
                    <form th:action="@{/logout}" method="post"><input type="submit" value="Sign Out" /></form>
                </li>
                <li class="right">
                    <a th:href="@{/search}">Search</a>
                </li>
            </ul>
        </div>

    </nav>

<!-- header by default -->
<nav class="navbar navbar-expand-lg blue-text text-darken-2" style="color:$red-300" th:fragment="headerByDefault" role="navigation">

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav navbar-left">
            <li class="nav-item active blue-text">
                <a class="nav-link" th:href="@{/index}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#footer">Contact Us</a>
            </li>
            <li >
                <a th:href="@{/register}">Search</a>
            </li>
        </ul>

        <ul class="right">
            <li><a href="/login" class="btn z-depth-0">Login</a></li>
            <li class="black-text "> or </li>
            <li><a href="/register" class="btn z-depth-0">Register</a></li>
        </ul>
    </div>
</nav>

</body>

</html>