.brand {
    background: #cbb09c !important;
}

.brand-text {
    color: #25a59b !important;
}

.materialize-textarea {
    height: 20rem !important;
    border: thick solid grey !important;
    overflow: auto;
    font-size: large;
    font-weight: bold;
    padding: 20px;
}

.comment {
    resize: none;
    margin-bottom: 20px;
    left: 0px;
}

.large-text {
    font-size: large !important;
    font-weight: bold !important;
}

body {
    width: 60%;
    margin: auto;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5;
}

.box .img8x {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .img8x img {
    max-width: 100%;

}